<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.stopgap.mydemo">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".application.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/yc_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/launchyx_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="android.3dtouch.launcher_menu"
            android:resource="@xml/launcher_menu" />

        <activity
            android:name=".WelcomeActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppNoTitleTheme"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:host="com.meizu.forcetouch.mzfixeddemo"
                    android:path="/main"
                    android:scheme="flyme_3dtouch" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/LoginTheme"
            android:windowSoftInputMode="stateHidden">
        </activity>
        <activity
            android:name=".MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppNoTitleTheme" />
        <activity
            android:name=".gallary.ShopActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name=".VideoActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/AppNoTitleTheme" />
        <activity
            android:name=".ShowActivity"
            android:theme="@style/AppNoTitleTheme" />
        <activity
            android:name=".view.LiveActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/AppNoTitleTheme" />
        <activity
            android:name=".UserInfoActivity"
            android:label="@string/title_activity_user_info"
            android:theme="@style/AppTheme" />

        <activity android:name=".QrCodeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:host="com.meizu.forcetouch.mzfixeddemo"
                    android:path="/qr"
                    android:scheme="flyme_3dtouch" />
            </intent-filter>
        </activity>
    </application>

</manifest>